body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
}

button{
    background-color: #d11815;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f80000;
}