body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
}

header {
    background-color: #4a9fbb;
    color: white;
    padding: 30px 0;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
button{
    background-color: #d11815;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f80000;
}

input[type="text"] {
    padding: 10px;
    width: 1000px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-self: center;
    
}